In [26]:
#! =========================Taller n춿 6 ====================================
# * Nombre: Arturo Parra
#? Fecha: 19/09/2025
# Bootcamp Ciencia de Datos + Inteligencia Artificial con Python
# Empresa: Codins Academy

# GLOSARIO DE COMENTARIOS:
# #* Comentario importante o titulo
# #? Comentario de duda o descripci칩n
# #! Comentario de advertencia o precauci칩n

 EJERCICIO 1: Leer archivos y explorar datos (10 minutos)
游닂 Enunciado:
Importa la librer칤a pandas.
Carga el archivo ventas.csv en una variable llamada ventas.
Carga el archivo clientes.xlsx en una variable llamada clientes.
Muestra las primeras 5 filas de cada DataFrame.
Muestra la estructura general (columnas y tipo de datos) de ambos DataFrames.

In [27]:
import pandas as pd
ventas = pd.read_csv('Ventas.csv')
clientes = pd.read_csv('Clientes.csv')
print("Ejercicio 1", end="\n\n")
print("\nPrimer dataframe:\n");print(ventas.head()); print(ventas.info())#?Primero 5 filas (head()) - Columna y tipo de datos (info()), Ventas
print("\nSegundo dataframe:\n");print(clientes.head());  print(clientes.info())#?Primero 5 filas (head()) - Columna y tipo de datos (info()), clientes

Ejercicio 1


Primer dataframe:

        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
1  2025-02-28    Mouse         3              25     75
2  2025-03-31  Teclado         2              45     90
3  2025-04-30  Monitor         1             200    200
4  2025-05-31    Mouse         4              25    100
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           10 non-null     object
 1   Producto        10 non-null     object
 2   Cantidad        10 non-null     int64
 3   PrecioUnitario  10 non-null     int64
 4   Total           10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None

Segundo dataframe:

   ID  Nombre     Ciudad  Edad
0   1     Ana      Quito    22
1   2    Luis  Guayaquil    35
2   3   Pedro      Quito    28
3   4   Luc칤a     Cuenca    40
4   5  Carlos  Guayaquil    31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Nombre  10 non-null     object
 2   Ciudad  10 non-null     object
 3   Edad    10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

EJERCICIO 2: Uso de Series (5 minutos)
游닂 Enunciado:
Crea una Serie con los valores [100, 200, 300, 400] y los 칤ndices ["A", "B", "C", "D"].
Accede al valor correspondiente al 칤ndice "C".
Eleva todos los valores de la serie al cuadrado.

In [ ]:
import pandas as pd
series = pd.Series([100, 200, 300, 400], index=["A", "B", "C", "D"])#? Creando la serie
print(series)
valor = series['C'] #? Valor c de la serie
print(f"\n el valor que esta en la fila 'C' es: {valor}\n")
cuadro_elementos = series ** 2 #? elevar al cuadrado los elementos de la serie (**)
print(cuadro_elementos)

A    100
B    200
C    300
D    400
dtype: int64

 el valor que esta en el indice 'C' es: 300

A     10000
B     40000
C     90000
D    160000
dtype: int64

EJERCICIO 3: Selecci칩n de columnas y filas (10 minutos)
游닂 Enunciado:
Muestra solo la columna "Producto" del DataFrame ventas.
Muestra solo las columnas "Nombre" y "Ciudad" del DataFrame clientes.
Muestra las primeras 3 filas de ventas usando iloc.
Muestra todos los clientes que viven en "Quito" usando loc.

In [ ]:
import pandas as pd
ventas = pd.read_csv('Ventas.csv')
clientes = pd.read_csv('Clientes.csv')
print(ventas.columns) #? presenta la columnas con sus respectivos titulos (.columns). Ventas.csv
print(clientes[["Nombre","Ciudad"]]) #? presenta solo la columna "Nombre", "Ciudad". Clientes.csv
print(ventas.iloc[0:3]) #? presenta las 3 primeras filas del doc ventas.csv
print(clientes[clientes["Ciudad"]== "Quito"]) #? En el documento clientes, columna "ciudad" solo valores == iguales a Quito
#! En los Dataframe los numericos son las filas y las columnas son los titulos.

Index(['Fecha', 'Producto', 'Cantidad', 'PrecioUnitario', 'Total'], dtype='object')
   Nombre     Ciudad
0     Ana      Quito
1    Luis  Guayaquil
2   Pedro      Quito
3   Luc칤a     Cuenca
4  Carlos  Guayaquil
5   Mar칤a       Loja
6    Jos칠      Quito
7  Andrea      Manta
8  Miguel  Guayaquil
9   Elena     Ambato
        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
1  2025-02-28    Mouse         3              25     75
2  2025-03-31  Teclado         2              45     90
   ID Nombre Ciudad  Edad
0   1    Ana  Quito    22
2   3  Pedro  Quito    28
6   7   Jos칠  Quito    29

EJERCICIO 4: Aplicar filtros (10 minutos)
游닂 Enunciado:
Filtra las ventas con un total mayor a $500.
Filtra los clientes con edad mayor a 30 a침os.

In [45]:
import pandas as pd
clientes = pd.read_csv("Clientes.csv")
ventas = pd.read_csv("Ventas.csv")
#* Ventas con un total > 500
print("\nVentas mayores a $500\n")
print(ventas[ventas["Total"] > 500])
#* Clientes > 30 a침os
print("\nClientes mayores a 30 a침os\n")
print(clientes[clientes["Edad"]>30])

Ventas mayores a $500

        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
5  2025-06-30   Laptop         2             800   1600

Clientes mayores a 30 a침os

   ID  Nombre     Ciudad  Edad
1   2    Luis  Guayaquil    35
3   4   Luc칤a     Cuenca    40
4   5  Carlos  Guayaquil    31
7   8  Andrea      Manta    33

EJERCICIO 5: Estad칤sticas descriptivas (10 minutos)
游닂 Enunciado:
Muestra un resumen estad칤stico del DataFrame ventas.
Muestra cu치ntos registros tiene clientes y el tipo de cada columna.

In [ ]:
import pandas as pd
clientes = pd.read_csv("Clientes.csv")
ventas = pd.read_csv("Ventas.csv")
print(ventas.describe())#? Resume estadistico: desviacion estandar y promedio
print(clientes.info()) #? 2enteros, objetos y 3 columnas

        Cantidad  PrecioUnitario        Total
count  10.000000       10.000000    10.000000
mean    2.400000      221.000000   357.000000
std     1.349897      312.612646   492.737252
min     1.000000       25.000000    45.000000
25%     1.250000       30.000000    92.500000
50%     2.000000       45.000000   130.000000
75%     3.000000      200.000000   350.000000
max     5.000000      800.000000  1600.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Nombre  10 non-null     object
 2   Ciudad  10 non-null     object
 3   Edad    10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

EJERCICIO 6: Guardar archivos filtrados (10 minutos)
游닂 Enunciado:
Guarda las ventas con total mayor a $500 en un archivo llamado ventas_filtradas.csv.
Guarda los clientes mayores de 30 a침os en un archivo llamado clientes_30mas.xlsx.

In [53]:
import pandas as pd
clientes = pd.read_csv("Clientes.csv")
ventas = pd.read_csv("Ventas.csv")

#? Ventas > $500
ventas_500 = ventas[ventas["Total"] > 500]
print(ventas_500)
ventas_500.to_csv('ventas_filtradas.csv')

#? Clientes > 30 a침os
Clientes30 = clientes[clientes['Edad'] > 30]
print(Clientes30)
Clientes30.to_excel('clientes_30mas.xlsx')

        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
5  2025-06-30   Laptop         2             800   1600
   ID  Nombre     Ciudad  Edad
1   2    Luis  Guayaquil    35
3   4   Luc칤a     Cuenca    40
4   5  Carlos  Guayaquil    31
7   8  Andrea      Manta    33

EJERCICIO FINAL: Desaf칤o aplicado (10 minutos)
游닂 Enunciado:
Muestra los clientes que viven en "Guayaquil" y tienen m치s de 25 a침os.
Filtra las ventas del producto "Mouse" cuyo total sea mayor a $200.
Guarda ambos filtros en archivos separados:
clientes_guayaquil_25mas.csv
ventas_mouse_200mas.csv

In [ ]:
import pandas as pd
clientes = pd.read_csv("Clientes.csv")
ventas = pd.read_csv("Ventas.csv")

filtro_clientes = clientes[(clientes['Ciudad'] == "Guayaquil") & (clientes['Edad'] > 25)] #?Clientes que viven en guayaquil y +25 a침os
print(filtro_clientes)
filtro_clientes.to_csv("Data/clientes_guayaquil_25mas.csv", index=False)#? Clientes que viven en gye y +25a침os
filtro_ventas = ventas[(ventas['Producto']== "Mouse") & ( ventas['Total'] > 200)]#? Producto mouse y mas de 200
print(filtro_ventas)
filtro_ventas.to_csv("Data/ventas_mouse_200mas.csv", index= False ) #? doc mouse > 200

   ID  Nombre     Ciudad  Edad
1   2    Luis  Guayaquil    35
4   5  Carlos  Guayaquil    31
8   9  Miguel  Guayaquil    26
        Fecha Producto  Cantidad  PrecioUnitario  Total
8  2025-09-30    Mouse         5              25    125