 EJERCICIO 1: Leer archivos y explorar datos (10 minutos)
ðŸ“˜ Enunciado:
Importa la librerÃ­a pandas.
Carga el archivo ventas.csv en una variable llamada ventas.
Carga el archivo clientes.xlsx en una variable llamada clientes.
Muestra las primeras 5 filas de cada DataFrame.
Muestra la estructura general (columnas y tipo de datos) de ambos DataFrames.

In [31]:
import pandas as pd

ventas = pd.read_csv("Ventas.csv") # cargar archivos
clientes = pd.read_excel("Clientes.xlsx") # cargar archivos

print(ventas.head()) # por defecto 5 primeros
print(clientes.head(5)) # especifico 5 elementos 

print(ventas.info()) # columnas y tipos de datos
print(clientes.info()) # columnas y tipos de datos

        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
1  2025-02-28    Mouse         3              25     75
2  2025-03-31  Teclado         2              45     90
3  2025-04-30  Monitor         1             200    200
4  2025-05-31    Mouse         4              25    100
   ID  Nombre     Ciudad  Edad
0   1     Ana      Quito    22
1   2    Luis  Guayaquil    35
2   3   Pedro      Quito    28
3   4   LucÃ­a     Cuenca    40
4   5  Carlos  Guayaquil    31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           10 non-null     object
 1   Producto        10 non-null     object
 2   Cantidad        10 non-null     int64
 3   PrecioUnitario  10 non-null     int64
 4   Total           10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Nombre  10 non-null     object
 2   Ciudad  10 non-null     object
 3   Edad    10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

EJERCICIO 2: Uso de Series (5 minutos)
ðŸ“˜ Enunciado:
Crea una Serie con los valores [100, 200, 300, 400] y los Ã­ndices ["A", "B", "C", "D"].
Accede al valor correspondiente al Ã­ndice "C".
Eleva todos los valores de la serie al cuadrado.

In [ ]:
serie = pd.Series([100, 200,300,400], index=["A", "B", "C", "D"])
print(serie)
print("El valor del literal C es : ", serie['C']) # seleccion de valores semejante a un uso de diccionarios
print((serie ** 2))

EJERCICIO 3: SelecciÃ³n de columnas y filas (10 minutos)
ðŸ“˜ Enunciado:
Muestra solo la columna "Producto" del DataFrame ventas.
Muestra solo las columnas "Nombre" y "Ciudad" del DataFrame clientes.
Muestra las primeras 3 filas de ventas usando iloc.
Muestra todos los clientes que viven en "Quito" usando loc.

In [ ]:
print(ventas.columns)
print(ventas['Producto'])
print(clientes[["Nombre", "Ciudad"]])

print(ventas.iloc[0:3]) # iloc se utiliza unicamente numerica [filas, columnas]
print("ULTIMO LITERAL \n")
print(clientes[clientes["Ciudad"]=="Quito"]) # loc trabaja con etiquetas o titulos de las tablas [filas #, titulos]
print(clientes.loc[0:2,"Nombre"]) # uso correcto del loc filas numerico columnas titulo

# Iloc y loc 
# ? uso es primprdial para seleccionar filas y columnas en especifico

Index(['Fecha', 'Producto', 'Cantidad', 'PrecioUnitario', 'Total'], dtype='object')
0     Laptop
1      Mouse
2    Teclado
3    Monitor
4      Mouse
5     Laptop
6    Teclado
7    Monitor
8      Mouse
9    Teclado
Name: Producto, dtype: object
   Nombre     Ciudad
0     Ana      Quito
1    Luis  Guayaquil
2   Pedro      Quito
3   LucÃ­a     Cuenca
4  Carlos  Guayaquil
5   MarÃ­a       Loja
6    JosÃ©      Quito
7  Andrea      Manta
8  Miguel  Guayaquil
9   Elena     Ambato
        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
1  2025-02-28    Mouse         3              25     75
2  2025-03-31  Teclado         2              45     90
ULTIMO LITERAL

   ID Nombre Ciudad  Edad
0   1    Ana  Quito    22
2   3  Pedro  Quito    28
6   7   JosÃ©  Quito    29
0      Ana
1     Luis
2    Pedro
Name: Nombre, dtype: object

EJERCICIO 4: Aplicar filtros (10 minutos)
ðŸ“˜ Enunciado:
Filtra las ventas con un total mayor a $500.
Filtra los clientes con edad mayor a 30 aÃ±os.

In [37]:
ventas_mayores_500=ventas[ventas["Total"] > 500]
print(ventas_mayores_500)
clientes_mayores_30=clientes[clientes['Edad'] > 30]
print(clientes_mayores_30)

        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
5  2025-06-30   Laptop         2             800   1600
   ID  Nombre     Ciudad  Edad
1   2    Luis  Guayaquil    35
3   4   LucÃ­a     Cuenca    40
4   5  Carlos  Guayaquil    31
7   8  Andrea      Manta    33

EJERCICIO 5: EstadÃ­sticas descriptivas (10 minutos)
ðŸ“˜ Enunciado:
Muestra un resumen estadÃ­stico del DataFrame ventas.
Muestra cuÃ¡ntos registros tiene clientes y el tipo de cada columna.

In [39]:
print(ventas.describe()) # resumen estadistico
print(clientes.info())

        Cantidad  PrecioUnitario        Total
count  10.000000       10.000000    10.000000
mean    2.400000      221.000000   357.000000
std     1.349897      312.612646   492.737252
min     1.000000       25.000000    45.000000
25%     1.250000       30.000000    92.500000
50%     2.000000       45.000000   130.000000
75%     3.000000      200.000000   350.000000
max     5.000000      800.000000  1600.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Nombre  10 non-null     object
 2   Ciudad  10 non-null     object
 3   Edad    10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

EJERCICIO 6: Guardar archivos filtrados (10 minutos)
ðŸ“˜ Enunciado:
Guarda las ventas con total mayor a $500 en un archivo llamado ventas_filtradas.csv.
Guarda los clientes mayores de 30 aÃ±os en un archivo llamado clientes_30mas.xlsx.

In [48]:
venta_filtradas = ventas[ventas['Total']> 500]
print(venta_filtradas)
venta_filtradas.to_csv("Respuesta/ventas_filtradas.csv", index=False)
# ! Importante Debe exisitr la ruta para crear el archivo con pandas
cliente_30= clientes[clientes['Edad'] > 30 ]
cliente_30.to_excel("Respuesta/Clientes_filtrados.xlsx", index=False)

        Fecha Producto  Cantidad  PrecioUnitario  Total
0  2025-01-31   Laptop         1             800    800
5  2025-06-30   Laptop         2             800   1600

EJERCICIO FINAL: DesafÃ­o aplicado
ðŸ“˜ Enunciado:
Muestra los clientes que viven en "Guayaquil" y tienen mÃ¡s de 25 aÃ±os.
Filtra las ventas del producto "Mouse" cuyo total sea mayor a $200.
Guarda ambos filtros en archivos separados:
clientes_guayaquil_25mas.csv
ventas_mouse_200mas.csv

In [53]:
filtro_clientes = clientes[(clientes['Ciudad'] == "Guayaquil") & (clientes['Edad'] > 25)]
print(filtro_clientes)
filtro_clientes.to_csv("Respuesta/clientes_guayaquil_25mas.csv", index=False)
filtro_ventas = ventas[(ventas['Producto']== "Mouse") & ( ventas['Total'] > 100)]
print(filtro_ventas)
filtro_ventas.to_csv("Respuesta/ventas_mouse_200mas.csv", index= False )

   ID  Nombre     Ciudad  Edad
1   2    Luis  Guayaquil    35
4   5  Carlos  Guayaquil    31
8   9  Miguel  Guayaquil    26
        Fecha Producto  Cantidad  PrecioUnitario  Total
8  2025-09-30    Mouse         5              25    125