clase de pandas
pandas es una libreria externa usada para el analisis de datos, manipulación de archivos de manera mas reapida sencilla.
1. abrien en el terminal 
2. pip install pandas
3. pip istall openpyxl => es una libreria para nipular archivos de excel

siempre importar pandas
import pandas as pd

In [1]:
import pandas as pd #libreria pandas nombre pd

In [14]:
#? Estructuras de datos
"""1. series 
es un array (lista, vector) unidimensional etiquetado y 
puede contener cualquier tipo de dato es que puede realizar  
con los datos operacion vectorizados"""

#crea una serie
serie = pd.Series([10,20,30,40], index=(["a", "b", "c", "d"]))#pandas. crea una series, generacion de un objetos como una "tabla"
print(serie) #indice es el numero de filas
serie2 = pd.Series(range(1,100,10), index=range(1,21,2)) #rango pone rango pero deben ser ls misma dimenciones
print(serie2)

a    10
b    20
c    30
d    40
dtype: int64
1      1
3     11
5     21
7     31
9     41
11    51
13    61
15    71
17    81
19    91
dtype: int64

In [16]:
# tipo de dato dataframe
#es una estructura con la diferecia que es bidimencional filasxcolumnas pude ser datos excel, csv
#puedes ser en base a multiples archivos o datos
#semejante a excel o tabla sql

data = {'nombre':['Anna', 'Luis', 'Carlos'],
        'Edad': [25, 30, 28],
        'ciudad': ['Madrid', 'Barcelona', 'Quito']
        }
print(data)

{'nombre': ['Anna', 'Luis', 'Carlos'], 'Edad': [25, 30, 28], 'ciudad': ['Madrid', 'Barcelona', 'Quito']}

In [ ]:
df=pd.DataFrame(data) #crea un dataframe filasxcolumnas
print(df)
display(df)
df

#si es un diccipnario las key son las cabecera de la tabla key = titulo
#si leemos un archivo la primera dila sera la cabeceras
#! para la creación del dataframe se debe tener la misma dimenciones

   nombre  Edad     ciudad
0    Anna    25     Madrid
1    Luis    30  Barcelona
2  Carlos    28      Quito

   nombre  Edad     ciudad
0    Anna    25     Madrid
1    Luis    30  Barcelona
2  Carlos    28      Quito

   nombre  Edad     ciudad
0    Anna    25     Madrid
1    Luis    30  Barcelona
2  Carlos    28      Quito

In [ ]:
# cantidad de archivos que se puede usar en un dataframe
#json, excel, sql, thml, clipboard, sas, xml
data = pd.read_csv("Productos.csv")
print(data)

       Nombre  Precio  Cantidad
0      Laptop    1000         5
1  Smartphone     800        10
2      Tablet     600         8
3  Smartwatch     200        15

In [25]:
#metodos por defecto de pandas
data = pd.read_excel("netflix.xlsx")#lee el archivo de excel
print(data)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [ ]:
print(data.head())#muestra las 5 primeras filas por defecto

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [ ]:
print(data.head(1)) #solo la primera fila

  show_id   type                 title         director cast        country  \
0      s1  Movie  Dick Johnson Is Dead  Kirsten Johnson  NaN  United States

           date_added  release_year rating duration      listed_in  \
0  September 25, 2021          2020  PG-13   90 min  Documentaries

                                         description
0  As her father nears the end of his life, filmm...

In [ ]:
print(data.tail())#muestra los ultimos 5 filas de los elementos

     show_id     type        title         director  \
8802   s8803    Movie       Zodiac    David Fincher
8803   s8804  TV Show  Zombie Dumb              NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer
8805   s8806    Movie         Zoom     Peter Hewitt
8806   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8802  November 20, 2019          2007      R    158 min
8803       July 1, 2019          2018  TV-Y7  2 Seasons
8804   November 1, 2019          2009      R     88 min
8805   January 11, 2020          2006     PG     88 min
8806      March 2, 2019          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

In [40]:
print(data.sample())#muestra de forma aleatoria

     show_id   type    title               director cast          country  \
5925   s5926  Movie  Virunga  Orlando von Einsiedel  NaN  United Kingdom,

            date_added  release_year rating duration  \
5925  November 7, 2014          2014  TV-MA  100 min

                                listed_in  \
5925  Documentaries, International Movies

                                            description
5925  The Oscar-nominated true story of the rangers ...

In [ ]:
print(data.info()) #se ve informacion de la columa de manera inmediata
#ejemplo columa1 show_id 8000 datos que son valores no nulo, tipo de dato objeto texto
#info muestra  informacion de la tabla, tipo de datos, elementos vacios.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [ ]:
print(data.describe())
#analisis previo, conteo, prom de elementos, desviacion estandar, el elemento mas pequeños, el mas grande

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [ ]:
#metodos para informacion para desarrollo de que tiene la tabla dimensiones?
data = pd.read_excel("netflix.xlsx")
print(data.columns) #metodo para mostrar titulos o cabeceras
print(data.shape)#metodo shape me las dimenciones filasxcolumnas
print(data.dtypes) #para saber tipo de datos
#cajitas de metodos obligatoriamente tienen parentesis==> obtener informacion con herramientas  y propiedades llaves sin parenstesis ==> visualiza informacion

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
(8807, 12)
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object
0       2020
1       2021
2       2021
3       2021
4       2021
        ...
8802    2007
8803    2018
8804    2009
8805    2006
8806    2015
Name: release_year, Length: 8807, dtype: int64

In [ ]:
#como obtener informacion o trabajas con pandas
data = pd.read_excel('netflix.xlsx')
#para obtener una informacion de una columna o varias ==> es referente a utilizar diccionarios
print(data.columns)
#muestrame los nombres((titulo) de las peliculas 
print(data['title']) #ver titulos de peliculas
print(data['title'].sample(5))#ver 5 titulos aleatorios

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8802                   Zodiac
8803              Zombie Dumb
8804               Zombieland
8805                     Zoom
8806                   Zubaan
Name: title, Length: 8807, dtype: object
6635    Doomsday Preppers
6343          Blue Streak
776      American Outlaws
6945       He's Out There
1903      An Ordinary Man
Name: title, dtype: object

In [54]:
print(data['title'], data['director'])#forma incorrecta
print(data[['title','director', 'duration']].head(5))#forma correcta 5 primeros
# se selecciona si son mas de 2 columnas dentro de otro corchete

0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8802                   Zodiac
8803              Zombie Dumb
8804               Zombieland
8805                     Zoom
8806                   Zubaan
Name: title, Length: 8807, dtype: object 0       Kirsten Johnson
1                   NaN
2       Julien Leclercq
3                   NaN
4                   NaN
             ...
8802      David Fincher
8803                NaN
8804    Ruben Fleischer
8805       Peter Hewitt
8806        Mozez Singh
Name: director, Length: 8807, dtype: object
                   title         director   duration
0   Dick Johnson Is Dead  Kirsten Johnson     90 min
1          Blood & Water              NaN  2 Seasons
2              Ganglands  Julien Leclercq   1 Season
3  Jailbirds New Orleans              NaN   1 Season
4           Kota Factory              NaN  2 Seasons

In [56]:
durations = data['duration']
data_info = data[['title', 'rating']]
print(durations)
print(data_info)

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object
                      title rating
0      Dick Johnson Is Dead  PG-13
1             Blood & Water  TV-MA
2                 Ganglands  TV-MA
3     Jailbirds New Orleans  TV-MA
4              Kota Factory  TV-MA
...                     ...    ...
8802                 Zodiac      R
8803            Zombie Dumb  TV-Y7
8804             Zombieland      R
8805                   Zoom     PG
8806                 Zubaan  TV-14

[8807 rows x 2 columns]

In [67]:
#arriba fue de forma phytonica
#manera de pandas para otener información
# loc utlizando etiquetas(titulos)
# variable.loc[filas, columnas]
df = pd.read_excel("netflix.xlsx")
print(df.loc[0:10,'type':'director'])

       type                                title  \
0     Movie                 Dick Johnson Is Dead
1   TV Show                        Blood & Water
2   TV Show                            Ganglands
3   TV Show                Jailbirds New Orleans
4   TV Show                         Kota Factory
5   TV Show                        Midnight Mass
6     Movie     My Little Pony: A New Generation
7     Movie                              Sankofa
8   TV Show        The Great British Baking Show
9     Movie                         The Starling
10  TV Show  Vendetta: Truth, Lies and The Mafia

                         director
0                 Kirsten Johnson
1                             NaN
2                 Julien Leclercq
3                             NaN
4                             NaN
5                   Mike Flanagan
6   Robert Cullen, José Luis Ucha
7                    Haile Gerima
8                 Andy Devonshire
9                  Theodore Melfi
10                            NaN

In [73]:
print(df.loc[[1,5],['type','director']]) #de la fila 1 hasta la 5

      type       director
1  TV Show            NaN
5  TV Show  Mike Flanagan

In [ ]:
#uso del iloc
df = pd.read_excel('netflix.xlsx')
#iloc es la manera numerica de seleccionar mi espacio de trabajo
#print(df.iloc[0:2,1]) #las 2 primeras filas y la primera columna
#print(df.iloc[0:11,1:6]) # las 10 primeras filas y las 5 primeras columnas
print(df.iloc[[0,19],[1,10]]) #eligiendo que filas y columanas ver, individual

       type                                          listed_in
0     Movie                                      Documentaries
19  TV Show  International TV Shows, Spanish-Language TV Sh...

In [105]:
import pandas as pd
#metodos operativos
diccionario ={
    "nombre": ["Felipe", "Carlos", "Pedro"],
    "edad": [29, 28, 32],
   "puestos":["developer", "RRHH", "consulting"],
   "Salarios":[450, 600, 1200] 
}
print(diccionario)
df = pd.DataFrame(diccionario) #crea un dataframe a partir de un diccionario
print(df)
empleados = df['nombre'].count()
print("la cantidad de empleados es:", empleados)

{'nombre': ['Felipe', 'Carlos', 'Pedro'], 'edad': [29, 28, 32], 'puestos': ['developer', 'RRHH', 'consulting'], 'Salarios': [450, 600, 1200]}
   nombre  edad     puestos  Salarios
0  Felipe    29   developer       450
1  Carlos    28        RRHH       600
2   Pedro    32  consulting      1200
la cantidad de empleados es: 3

In [117]:
import pandas as pd
diccionario ={
    "nombre": ["Felipe", "Carlos", "Pedro"],
    "edad": [29, 28, 32],
   "puestos":["developer", "RRHH", "consulting"],
   "Salarios":[450, 600, 1200] 
}
df = pd.DataFrame(diccionario)
print(df [df['Salarios'] < 1000])#de mi tabla imprime los salarios menores a 1000
#muestrame salarios menores a 1000 y personas con edad >30
print(df[(df["Salarios"]>30) & (df['edad']>30)])
#! PANDAS no acepta AND, OR, NOT solo acepta=> &, |, -

   nombre  edad    puestos  Salarios
0  Felipe    29  developer       450
1  Carlos    28       RRHH       600
  nombre  edad     puestos  Salarios
2  Pedro    32  consulting      1200

In [ ]:
#metodos de pandas o herramientas
#ordene la tabla
diccionario ={
    "nombre": ["Felipe", "Carlos", "Pedro"],
    "edad": [29, 28, 32],
   "puestos":["developer", "RRHH", "consulting"],
   "Salarios":[450, 600, 1200] 
}
df = pd.DataFrame(diccionario)
print(df)
print("Tabla ordena")
print(df.sort_values(by= 'edad', ascending=False))# por defecto se ordena ascendente
print(df.sort_values(by= ['edad', 'Salarios']))#ordena por edad, salario
# si hay valores nulos NaN = vacio o nulo en el ordemnamiento esto se muestran primero

   nombre  edad     puestos  Salarios
0  Felipe    29   developer       450
1  Carlos    28        RRHH       600
2   Pedro    32  consulting      1200
Tabla ordena
   nombre  edad     puestos  Salarios
2   Pedro    32  consulting      1200
0  Felipe    29   developer       450
1  Carlos    28        RRHH       600
   nombre  edad     puestos  Salarios
1  Carlos    28        RRHH       600
0  Felipe    29   developer       450
2   Pedro    32  consulting      1200

In [ ]:
#! Importante parametro inplace = >
diccionario ={
    "nombre": ["Felipe", "Carlos", "Pedro"],
    "edad": [29, 28, 32],
   "puestos":["developer", "RRHH", "consulting"],
   "Salarios":[450, 600, 1200] 
}
df = pd.DataFrame(diccionario)
print (df)
print(df.sort_values(by='edad', inplace=True)) #inplace guarda en la misma variable
#buena practica es guardar en una nueva variable

print(df)

   nombre  edad     puestos  Salarios
0  Felipe    29   developer       450
1  Carlos    28        RRHH       600
2   Pedro    32  consulting      1200
None
   nombre  edad     puestos  Salarios
1  Carlos    28        RRHH       600
0  Felipe    29   developer       450
2   Pedro    32  consulting      1200