funciones especiales
GroupBy
Aggregation
Apply
index
nlargest

GRUOP BY
perimite agregar o dividir un dataframe en grupos basados a criterios

In [7]:
import pandas as pd
data= {
'Departamentos':['ventas', 'ventas', 'IT', 'IT', "HR"],
'Empleados': ['Juan', 'Carlos', 'Pedro', 'Maria', 'Hectos'],
'Salarios': [1200, 850, 750, 600, 2000],
'Edades' : [18, 23, 25, 32, 23]  
}

df = pd.DataFrame(data)
print(df)

#GROUPBY sintaxis
#df.groupby(como quiere agregar)[información que deseo]
#? promedio de los salarios por departamentos
print(df.groupby('Departamentos')['Salarios'].mean())#agrupa y saca el promedio 
#? suma de los salarios de cada departamento
print(df.groupby('Departamentos')['Salarios'].sum())#agrupa los despartamentos y los suma
print(df.groupby('Departamentos')['Empleados'].count())#agrupa los despartamentos y cuenta cuantos empleados hay en cada departamento
print(df.groupby(['Departamentos', 'Edades'])['Empleados'].count())

  Departamentos Empleados  Salarios  Edades
0        ventas      Juan      1200      18
1        ventas    Carlos       850      23
2            IT     Pedro       750      25
3            IT     Maria       600      32
4            HR    Hectos      2000      23
Departamentos
HR        2000.0
IT         675.0
ventas    1025.0
Name: Salarios, dtype: float64
Departamentos
HR        2000
IT        1350
ventas    2050
Name: Salarios, dtype: int64
Departamentos
HR        1
IT        2
ventas    2
Name: Empleados, dtype: int64
Departamentos  Edades
HR             23        1
IT             25        1
               32        1
ventas         18        1
               23        1
Name: Empleados, dtype: int64

Agregattion o Agg
Permite aplicar multiples funciones de agregacion (mean, std, min, max, count)

In [16]:
resumen=df.groupby('Departamentos')['Salarios'].agg(['mean', 'min', 'max', 'sum', 'count'])
print(resumen)
#? uso mas complejo: agrupación multiples columnas
resumen_completo = df.groupby('Departamentos').agg(
    {
        "Salarios" : ['mean', 'max'],
        "Edades" : ['min', 'max']
    }
)
print(resumen_completo)

                 mean   min   max   sum  count
Departamentos
HR             2000.0  2000  2000  2000      1
IT              675.0   600   750  1350      2
ventas         1025.0   850  1200  2050      2
              Salarios       Edades
                  mean   max    min max
Departamentos
HR              2000.0  2000     23  23
IT               675.0   750     25  32
ventas          1025.0  1200     18  23

APPLY
Es una herramienta de las mas versatiles y permite aplicar funciones a lo largo de un eje

trabajo toda las filas o columnas

In [ ]:
df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [5, 10, 20],
    "C": [10, 30, 40]
})
print(df)
df_sumado = df.apply(lambda col: col +10)
print(df_sumado)
#? promedio por filas
df_promedio = df.apply(lambda fila: fila.mean(), axis=1)
print(df_promedio)

    A   B   C
0  10   5  10
1  20  10  30
2  30  20  40
    A   B   C
0  20  15  20
1  30  20  40
2  40  30  50
0     8.333333
1    20.000000
2    30.000000
dtype: float64

APPLYMAP TRABAJA ELEMENTO POR ELEMENTO

In [ ]:
def clasificar(valor):
    if valor >15:
        return "alto"
    else:
        return "bajo"
df_